---
import SinglePage from "../../lib/cocobasic/pages/single.astro";

export function getStaticPaths() {
  const pages = [
    {
      slug: "1",
      image:
        "https://res.cloudinary.com/daoju0r3c/image/upload/v1745597271/Facetune_14-10-2024-20-33-23-min_aly0vg.png",
      title: "My contemporary, classic and inspiring <i>artistic</i> roots",
      paragraphs: [
        "In 2019, I arrived in Canada to pursue a Studio Arts diploma. My journey, however, didn’t begin as smoothly as I had hoped. My initial application was rejected because my portfolio wasn’t strong enough, and I wasn’t fully aware of how competitive the program would be. It felt like a setback, but then something unexpected happened—my advisor reached out, letting me know that the program still needed more applicants. They gave me a chance to reapply within a month with a completely new portfolio.",
        "I poured my heart into creating a fresh body of work, pushing my creativity to new limits. My efforts paid off—not only did I receive the acceptance letter, but I also earned a scholarship. That moment was a turning point, reinforcing that persistence and resilience can indeed shape new opportunities.",
      ],
    },
    {
      slug: "2",
      image:
        "https://res.cloudinary.com/daoju0r3c/image/upload/v1746095080/Card_2_mk9h1a.jpg",
      title: "Nature details softly <i>crafted</i> by hand",
      paragraphs: [
        "As a newcomer to the Canadian art scene, I felt a bit lost, unsure of how to make my mark. I began selling paintings on Whyte Avenue street, standing front of a “wee book inn” book store.. during weekends. Although I did sell a few, it was a short-lived venture as the pandemic soon hit. Navigating the art world as a new artist wasn’t easy. Galleries seemed out of reach, and I had no connections to guide me. I kept searching for a stable path, wondering how I could sustain myself through art. Selling paintings felt unpredictable—either someone loved it and bought it, or they just walked by. I needed something more consistent.",
      ],
    },
    {
      slug: "3",
      image:
        "https://res.cloudinary.com/daoju0r3c/image/upload/v1745597952/IMG_2524_uxghat.jpg",
      title: "Connection of art and <i>tattoos</i>",
      paragraphs: [
        "Tattooing entered my life almost by accident. It wasn’t something I had ever envisioned for myself, but one night, the idea just sparked in my mind. I decided to give it a try. That spontaneous decision led me to FX INC—the very last tattoo and piercing studio I approached, almost ready to give up. I had no portfolio, no idea how to apply for jobs, and little knowledge of the tattoo industry. But FX INC gave me a chance—a space to learn, grow, and develop my skills through an apprenticeship that lasted around 14 to 16 months.",
        "The tattoo industry taught me a lot about trust—the trust that clients place in your work. It’s not just about meeting expectations; it’s about striving to exceed them. Every project, no matter how small or big, became a lesson in persistence and growth.",
      ],
    },
    {
      slug: "4",
      image:
        "https://res.cloudinary.com/daoju0r3c/image/upload/v1746118142/Card_4_image_1__combine__heic_wzu9vd.jpg",
      title: "Design <i>piercing</i> ideas to life",
      paragraphs: [
        "One day, my senior piercer casually asked if I’d be interested in learning how to pierce. I thought, “Why not?” Little did I know that piercing would open up a new layer of creativity for me. I hadn’t realized how a single, precise poke could make such a significant difference in someone’s self-expression. Designing a human body through piercing felt like adding thoughtful details to a canvas—each piece becoming a part of how they choose to represent themselves.",
      ],
    },
    {
      slug: "5",
      image:
        "https://res.cloudinary.com/daoju0r3c/image/upload/v1746217314/Card_5_gwthlb.jpg",
      title: "Onwards and upwards",
      paragraphs: [
        "Now, five years into this journey, I still don’t know exactly where I stand. But I’ve learned to embrace the uncertainty, finding joy in the process of learning and growing. I owe so much to my mentors, my clients, and their visions—which often inspire me to see things in new ways.",
      ],
    },
  ];

  return pages.map(({ slug, title, image, paragraphs }) => {
    return {
      params: { slug },
      props: { title, image, paragraphs },
    };
  });
}

const { title, image, paragraphs } = Astro.props;
---

<SinglePage image={image}>
  <Fragment slot="title" set:html={title} />
  <Fragment slot="content">
    {paragraphs.map((element) => <p>{element}</p>)}
  </Fragment>
</SinglePage>
