---
import Layout from "../../creative-mighty/layout.astro";
import Stylesheets from "../stylesheets.astro";
import Scripts from "../scripts.astro";
---

<Layout bodyClass="home blog">
  <Fragment slot="head">
    <Stylesheets />
  </Fragment>

  <Fragment slot="body">
    <div class="site-wrapper">
      <div id="content" class="site-content">
        <div class="header-content content-1170 center-relative block">
          <h1 class="entry-title">
            You can’t wait for <span class="underline"><i>inspiration</i></span
            >,
            <br />
            you have to go after it with a club.
          </h1>
        </div>

        <div class="blog-holder block center-relative content-1170">
          <article
            class="animate relative blog-item-holder center-relative has-post-thumbnail"
          >
            <div class="post-thumbnail">
              <a href="single.html">
                <img src="/cocobasic/images/home_img_01.jpg" alt="" />
              </a>
            </div>
            <div class="entry-holder content-540">
              <div class="entry-info">
                <div class="cat-links">
                  <ul>
                    <li>
                      <a href="#">Interior</a>
                    </li>
                  </ul>
                </div>
              </div>
              <h2 class="entry-title">
                <a href="single.html"
                  >Contemporary, classic and inspiring <i>innovation</i> details</a
                >
              </h2>
              <div class="excerpt">
                <p>
                  Take root and flourish dream of the mind’s eye at the edge of
                  forever shores of the cosmic
                </p>
              </div>
              <p class="read-more-arrow">
                <a href="single.html">
                  <span class="fa fa-arrow-right" aria-hidden="true"></span>
                </a>
              </p>
            </div>
            <div class="clear"></div>
          </article>

          <article
            class="animate relative blog-item-holder center-relative has-post-thumbnail"
          >
            <div class="post-thumbnail">
              <a href="single.html">
                <img src="/cocobasic/images/home_img_02.jpg" alt="" />
              </a>
            </div>
            <div class="entry-holder content-540">
              <div class="entry-info">
                <div class="cat-links">
                  <ul>
                    <li><a href="#">Design</a></li>
                  </ul>
                </div>
              </div>
              <h2 class="entry-title">
                <a href="single.html"
                  >Nature details softly <i>crafted</i> by hand</a
                >
              </h2>
              <div class="excerpt">
                <p>
                  Sincerity yet herefore forfeited his cell taint neglect
                  questions uelderly amongst on distant
                </p>
              </div>
              <p class="read-more-arrow">
                <a href="single.html">
                  <span class="fa fa-arrow-right" aria-hidden="true"></span>
                </a>
              </p>
            </div>
            <div class="clear"></div>
          </article>
        </div>
      </div>
    </div>
  </Fragment>

  <Fragment slot="scripts">
    <Scripts />
  </Fragment>
</Layout>
