---
import Layout from "../../creative-mighty/layout.astro";
import Stylesheets from "../stylesheets.astro";
import Scripts from "../scripts.astro";
import JourneyGrid from "../components/JourneryGrid";
---

<Layout bodyClass="home blog">
  <Fragment slot="head">
    <Stylesheets />
  </Fragment>

  <Fragment slot="body">
    <div class="site-wrapper">
      <div id="content" class="site-content">
        <div class="header-content content-1170 center-relative block">
          <h1 class="entry-title">
            You can’t wait for <span class="underline"><i>inspiration</i></span
            >,
            <br />
            you have to go after it.
          </h1>
        </div>

        <JourneyGrid client:visible />
      </div>
    </div>
  </Fragment>
</Layout>

<Fragment slot="scripts">
  <Scripts />
</Fragment>
