---
import CreativeMightLayout from "../../layouts/CreativeMightLayout.astro";
---

<CreativeMightLayout>
  <Fragment slot="body">
    <div class="rts-coming-soon">
      <div class="container">
        <div class="section-inner text-center">
          <h2 class="title-elements-parent">We're Coming Soon!</h2>
          <div id="countdown-time" class="countdown-time rt-coming-soon">
            <span></span> : <span></span> : <span></span> : <span></span>
          </div>
          <p class="desc">
            Comeback again when we’re live! Thank <br /> you for understanding and
            patience!
          </p>
          <div class="social-area">
            <h4 class="title">Follow Us</h4>
            <ul class="social-wrapper">
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </Fragment>
</CreativeMightLayout>
