---
import Layout from "../layout.astro";
---

<Layout bodyClass="portfolio-nine vertical-split" disableFooter>
  <Fragment slot="body">
    <div class="portfolio-nine-wrapper-main">
      <div class="container-full">
        <div class="row">
          <div class="col-lg-5">
            <div class="banner-portfolio-nine">
              <span class="pre">Business Brand, July 2023 </span>
              <h1 class="title">
                Brand Identity <br />
                and Strategy
              </h1>
              <p class="disc">
                Showcasing the agency's work in creating visually <br /> appealing,
                user-friendly, and responsive websites
              </p>
              <a href="portfolio-one.html" class="learn-more-btn"
                >View Case <i class="fa-solid fa-arrow-up-right"></i></a
              >
            </div>
          </div>
          <div class="col-lg-7">
            <div class="page-title-area-portfolio-7">
              <h1 class="title-work rts-portfolio-text">
                Our Latest <br />
                Work
              </h1>
            </div>
            <!-- product-wrapper -->
            <div class="product-wrapper-9 rts-team__area rts-portfolio-area">
              <div class="product-row pt--200 pt_md--50 pt_sm--30">
                <div class="inner">
                  <!-- single product -->
                  <div class="single-product-9">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/41.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/42.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/70.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/71.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/72.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/73.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                </div>
                <div class="inner">
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/74.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/70.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/71.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/42.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/72.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/73.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                </div>
              </div>
              <div class="product-row two">
                <div class="inner">
                  <!-- single product -->
                  <div class="single-product-9">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/70.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/71.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/72.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/73.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/74.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/41.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                </div>
                <div class="inner">
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/41.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/70.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/71.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/72.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/73.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                  <!-- single product -->
                  <div class="single-product-9 rts-team__item">
                    <a href="portfolio-details.html">
                      <img
                        src="/creative-mighty/assets/images/product/70.jpg"
                        alt="product"
                      />
                    </a>
                    <div class="inner-content">
                      <span>web design</span>
                      <a href="portfolio-details.html"
                        >Website Build Maintenance
                      </a>
                    </div>
                  </div>
                  <!-- single product end -->
                </div>
              </div>
            </div>
            <!-- product-wrapper end -->
          </div>
        </div>
      </div>
    </div>
  </Fragment>
</Layout>
