---
import Layout from "../layout.astro";
---

<Layout bodyClass="portfolio-seven">
  <Fragment slot="body">
    <div class="swiper-portfolio-main-wrapper-7">
      <div class="swiper mySwiper-7-varticle pl--150 pl_md--100 pl_sm--40">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <!-- banner slider area srart -->
            <div class="banner-slider-portfolio-seven-area">
              <div class="container">
                <div class="row pt--130 pt_sm--70 align-items-center">
                  <div class="col-lg-6 col-md-6 one">
                    <div class="banner-wrapper-seven pt--75 pt_sm--15">
                      <h1 class="title">TemplateTrove Studios</h1>
                      <p class="disc">
                        nterdum venenatis aptent facilisi vivamus mollist
                        cosequat ligu euimod <br />
                        donec cubilia montes. Porttitor habitasse torquent aliquam
                        praesent eu <br />
                        magnis vestibulumt commodo, volutpat gravida cubilia parturient
                        fames <br />
                        hac ultricies ligula
                      </p>
                      <a href="portfolio-details.html" class="learn-more-btn"
                        >Learn More <i class="fa-solid fa-arrow-up-right"
                        ></i></a
                      >
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="thumbnail-image-banner-7">
                      <img
                        src="/creative-mighty/assets/images/product/40.png"
                        alt="portfolio"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- banner slider area end -->
          </div>

          <div class="swiper-slide">
            <!-- banner slider area srart -->
            <div class="banner-slider-portfolio-seven-area">
              <div class="container">
                <div class="row pt--130 pt_sm--70 align-items-center">
                  <div class="col-lg-6 col-md-6 one">
                    <div class="banner-wrapper-seven pt--75 pt_sm--15">
                      <h1 class="title">FrameFusion Creations</h1>
                      <p class="disc">
                        nterdum venenatis aptent facilisi vivamus mollist
                        cosequat ligu euimod <br />
                        donec cubilia montes. Porttitor habitasse torquent aliquam
                        praesent eu <br />
                        magnis vestibulumt commodo, volutpat gravida cubilia parturient
                        fames <br />
                        hac ultricies ligula
                      </p>
                      <a href="portfolio-details.html" class="learn-more-btn"
                        >Learn More <i class="fa-solid fa-arrow-up-right"
                        ></i></a
                      >
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="thumbnail-image-banner-7">
                      <img
                        src="/creative-mighty/assets/images/product/69.png"
                        alt="portfolio"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- banner slider area end -->
          </div>

          <div class="swiper-slide">
            <!-- banner slider area srart -->
            <div class="banner-slider-portfolio-seven-area">
              <div class="container">
                <div class="row pt--130 pt_sm--70 align-items-center">
                  <div class="col-lg-6 col-md-6 one">
                    <div class="banner-wrapper-seven pt--75 pt_sm--15">
                      <h1 class="title">Ink & Interface Innovators</h1>
                      <p class="disc">
                        nterdum venenatis aptent facilisi vivamus mollist
                        cosequat ligu euimod <br />
                        donec cubilia montes. Porttitor habitasse torquent aliquam
                        praesent eu <br />
                        magnis vestibulumt commodo, volutpat gravida cubilia parturient
                        fames <br />
                        hac ultricies ligula
                      </p>
                      <a href="portfolio-details.html" class="learn-more-btn"
                        >Learn More <i class="fa-solid fa-arrow-up-right"
                        ></i></a
                      >
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="thumbnail-image-banner-7">
                      <img
                        src="/creative-mighty/assets/images/product/68.png"
                        alt="portfolio"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- banner slider area end -->
          </div>
        </div>
      </div>
    </div></Fragment
  >
</Layout>
