---
import Header from "../header.astro";
---

<!doctype html>
<html lang="en">
  <!-- Mirrored from html.themewant.com/mighty/showcase-vertical-scroll.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Apr 2025 15:15:54 GMT -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-style-mode" content="1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/creative-mighty/assets/images/fav.png"
    />
    <title>Mighty - Creative Portfolio Template</title>
    <link
      rel="stylesheet"
      href="/creative-mighty/assets/css/plugins/fontawesome-6.css"
    />
    <link
      rel="stylesheet"
      href="/creative-mighty/assets/css/plugins/swiper.min.css"
    />
    <link
      rel="stylesheet"
      href="/creative-mighty/assets/css/vendor/metismenu.css"
    />
    <link
      rel="stylesheet"
      href="/creative-mighty/assets/css/plugins/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="/creative-mighty/assets/css/vendor/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/creative-mighty/assets/css/style.css" />
  </head>

  <body class="inner-page portfolio-seven">
    <Header />

    <!-- portfolio seven swiper varticle wrapper -->
    <div class="swiper-portfolio-main-wrapper-7">
      <div class="swiper mySwiper-7-varticle pl--150 pl_md--100 pl_sm--40">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <!-- banner slider area srart -->
            <div class="banner-slider-portfolio-seven-area">
              <div class="container">
                <div class="row pt--130 pt_sm--70 align-items-center">
                  <div class="col-lg-6 col-md-6 one">
                    <div class="banner-wrapper-seven pt--75 pt_sm--15">
                      <h1 class="title">TemplateTrove Studios</h1>
                      <p class="disc">
                        nterdum venenatis aptent facilisi vivamus mollist
                        cosequat ligu euimod <br />
                        donec cubilia montes. Porttitor habitasse torquent aliquam
                        praesent eu <br />
                        magnis vestibulumt commodo, volutpat gravida cubilia parturient
                        fames <br />
                        hac ultricies ligula
                      </p>
                      <a href="portfolio-details.html" class="learn-more-btn"
                        >Learn More <i class="fa-solid fa-arrow-up-right"
                        ></i></a
                      >
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="thumbnail-image-banner-7">
                      <img
                        src="/creative-mighty/assets/images/product/40.png"
                        alt="portfolio"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- banner slider area end -->
          </div>

          <div class="swiper-slide">
            <!-- banner slider area srart -->
            <div class="banner-slider-portfolio-seven-area">
              <div class="container">
                <div class="row pt--130 pt_sm--70 align-items-center">
                  <div class="col-lg-6 col-md-6 one">
                    <div class="banner-wrapper-seven pt--75 pt_sm--15">
                      <h1 class="title">FrameFusion Creations</h1>
                      <p class="disc">
                        nterdum venenatis aptent facilisi vivamus mollist
                        cosequat ligu euimod <br />
                        donec cubilia montes. Porttitor habitasse torquent aliquam
                        praesent eu <br />
                        magnis vestibulumt commodo, volutpat gravida cubilia parturient
                        fames <br />
                        hac ultricies ligula
                      </p>
                      <a href="portfolio-details.html" class="learn-more-btn"
                        >Learn More <i class="fa-solid fa-arrow-up-right"
                        ></i></a
                      >
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="thumbnail-image-banner-7">
                      <img
                        src="/creative-mighty/assets/images/product/69.png"
                        alt="portfolio"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- banner slider area end -->
          </div>

          <div class="swiper-slide">
            <!-- banner slider area srart -->
            <div class="banner-slider-portfolio-seven-area">
              <div class="container">
                <div class="row pt--130 pt_sm--70 align-items-center">
                  <div class="col-lg-6 col-md-6 one">
                    <div class="banner-wrapper-seven pt--75 pt_sm--15">
                      <h1 class="title">Ink & Interface Innovators</h1>
                      <p class="disc">
                        nterdum venenatis aptent facilisi vivamus mollist
                        cosequat ligu euimod <br />
                        donec cubilia montes. Porttitor habitasse torquent aliquam
                        praesent eu <br />
                        magnis vestibulumt commodo, volutpat gravida cubilia parturient
                        fames <br />
                        hac ultricies ligula
                      </p>
                      <a href="portfolio-details.html" class="learn-more-btn"
                        >Learn More <i class="fa-solid fa-arrow-up-right"
                        ></i></a
                      >
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="thumbnail-image-banner-7">
                      <img
                        src="/creative-mighty/assets/images/product/68.png"
                        alt="portfolio"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- banner slider area end -->
          </div>
        </div>
      </div>
    </div>
    <!-- portfolio seven swiper varticle wrapper end -->

    <!-- Scripts style two -->
    <div class="loading-screen" id="loading-screen">
      <span class="bar top-bar"></span>
      <span class="bar down-bar"></span>
      <span class="progress-line"></span>
      <span class="loading-counter"> </span>
    </div>

    <div class="bg-noise"></div>

    <!-- back to top start -->
    <div class="progress-wrap">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
    </div>
    <!-- back to top end -->

    <!-- pre loader start -->
    <div
      class="rts-cursor cursor-outer"
      data-default="yes"
      data-link="yes"
      data-slider="no"
    >
      <span class="fn-cursor"></span>
    </div>
    <div
      class="rts-cursor cursor-inner"
      data-default="yes"
      data-link="yes"
      data-slider="no"
    >
      <span class="fn-cursor">
        <span class="fn-left"></span>
        <span class="fn-right"></span>
      </span>
    </div>
    <!-- pre loader end -->

    <div class="footer rts-footer-two-area bg-footer-2 bg_image-1 mt-0">
      <div class="container-140">
        <div class="row">
          <div class="col-lg-12 pt--130 pt_sm--60 pb--100 pb_sm--60">
            <div class="footer-two-wrapper-content">
              <!-- footer left start -->
              <div class="footer-left-two">
                <a href="index.html" class="logo">
                  <img
                    src="/creative-mighty/assets/images/logo/03.svg"
                    alt="logo"
                  />
                </a>
                <p class="disc">
                  Teor facilis porta maurs ligula vivamus <br /> nullam laoreet pharetra
                  posuere.
                </p>
                <div class="rts-social-area-one">
                  <ul>
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-skype"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- footer left end -->

              <!-- footer right area start -->
              <div class="footer-right-two">
                <!-- contact info -->
                <div class="contact-information">
                  <h5 class="title">Contact Info</h5>
                  <a href="#" class="map"
                    >Maxuel Street, Frankfurt <br /> 2589 Germany.</a
                  >
                  <a href="#" class="mail">information.mighty.com</a>
                  <a href="tel:28586235932159" class="number"
                    >+2858 62359 32159</a
                  >
                </div>
                <!-- contact info end -->
                <!-- contact info -->
                <div class="contact-information input">
                  <h5 class="title">Subscribe Newsletter</h5>
                  <p class="map">
                    Subscribe our newsletter for future updates. don’t <br /> worry
                    we don’t spam your email address
                  </p>
                  <form action="#" class="form-footer-2">
                    <label for="email-1"
                      ><i class="fa-regular fa-envelope"></i></label
                    >
                    <input
                      id="email-1"
                      type="email"
                      placeholder="Enter your email..."
                      required
                    />
                    <button type="submit">Subscribe</button>
                  </form>
                </div>
                <!-- contact info end -->
              </div>
              <!-- footer right area end -->
            </div>
          </div>
          <div class="col-lg-12">
            <!-- copyright-area-start -->
            <div class="copy-right-area-start-two">
              <p class="left">2023 © Mighty. All rights reserved.</p>
            </div>
            <!-- copyright-area-end -->
          </div>
        </div>
      </div>
    </div>

    <script defer src="/creative-mighty/assets/js/vendor/jquery.min.js"
    ></script>
    <script defer src="/creative-mighty/assets/js/plugins/bootstrap.min.js"
    ></script>
    <script defer src="/creative-mighty/assets/js/plugins/contact.form.js"
    ></script>
    <script defer src="/creative-mighty/assets/js/vendor/waypoint.js"></script>
    <script defer src="/creative-mighty/assets/js/plugins/swiper.js"></script>

    <!-- for side bar sticky -->
    <script defer src="/creative-mighty/assets/js/plugins/resizer-sensor.js"
    ></script>
    <script defer src="/creative-mighty/assets/js/plugins/sticky-sidebar.js"
    ></script>
    <!-- for side bar sticky end-->

    <script defer src="/creative-mighty/assets/js/plugins/isotop.js"></script>
    <script
      defer
      src="/creative-mighty/assets/js/plugins/imagesloaded.pkgd.min.js"
    ></script>

    <script
      defer
      src="/creative-mighty/assets/js/plugins/smoothscroll-varticle.js"
    ></script>
    <script defer src="/creative-mighty/assets/js/vendor/gsap.js"></script>
    <script defer src="/creative-mighty/assets/js/plugins/scrolltiger.js"
    ></script>
    <script defer src="/creative-mighty/assets/js/plugins/scrolltoplugin.js"
    ></script>
    <script defer src="/creative-mighty/assets/js/plugins/splittext.js"
    ></script>
    <script defer src="/creative-mighty/assets/js/plugins/smoothscroll.js"
    ></script>

    <!-- title opacity scroll magix -->
    <script defer src="/creative-mighty/assets/js/plugins/scrollmagic.js"
    ></script>
    <script
      defer
      src="/creative-mighty/assets/js/plugins/animate-scrollmagic.js"></script>
    <!-- title opacity scroll magic end -->

    <script defer src="/creative-mighty/assets/js/plugins/tilt.js"></script>
    <script defer src="/creative-mighty/assets/js/plugins/counterup.js"
    ></script>

    <script defer src="/creative-mighty/assets/js/vendor/waw.js"></script>
    <!-- custom javascripts -->
    <script defer src="/creative-mighty/assets/js/main.js"></script>
    <!-- Scripts style two End -->
  </body>

  <!-- Mirrored from html.themewant.com/mighty/showcase-vertical-scroll.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Apr 2025 15:16:01 GMT -->
</html>
