<div class="orb-big-menu-frame">
  <div class="orb-big-menu orb-big-menu-1">
    <div class="orb-grid">
      <div class="orb-g-30 orb-md-50 orb-sm-100">
        <div class="orb-menu-frame orb-fs-menu">
          <nav>
            <ul class="orb-menu">
              <li class="orb-has-children orb-current">
                <a href="#." data-no-swup>Home</a>
                <ul>
                  <li><a href="home-1.html">Home 1</a></li>
                  <li><a href="home-2.html">Home 2</a></li>
                  <li><a href="home-3.html">Home 3</a></li>
                  <li><a href="home-4.html">Home 4</a></li>
                  <li><a href="home-5.html">Home 5</a></li>
                </ul>
              </li>
              <li class="orb-has-children">
                <a href="#." data-no-swup>About</a>
                <ul>
                  <li><a href="about-1.html">Type 1</a></li>
                  <li><a href="about-2.html">Type 2</a></li>
                  <li><a href="about-3.html">Type 3</a></li>
                </ul>
              </li>
              <li class="orb-has-children">
                <a href="#." data-no-swup>Portfolio</a>
                <ul>
                  <li><a href="portfolio-1.html">Type 1</a></li>
                  <li><a href="portfolio-2.html">Type 2</a></li>
                  <li><a href="portfolio-3.html">Type 3</a></li>
                  <li><a href="portfolio-4.html">Type 4</a></li>
                  <li><a href="portfolio-5.html">Type 5</a></li>
                </ul>
              </li>
              <li class="orb-has-children">
                <a href="#." data-no-swup>Blog</a>
                <ul>
                  <li><a href="blog-1.html">Type 1</a></li>
                  <li><a href="blog-2.html">Type 2</a></li>
                  <li><a href="blog-3.html">Classic list</a></li>
                  <li><a href="blog-4.html">Publication</a></li>
                </ul>
              </li>
              <li class="orb-has-children">
                <a href="#." data-no-swup>Contacts</a>
                <ul>
                  <li><a href="contact-1.html">Type 1</a></li>
                  <li><a href="contact-2.html">Type 2</a></li>
                  <li><a href="contact-3.html">Type 3</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="orb-g-70 orb-md-50 orb-sm-100">
        <div class="rb-object-frame">
          <div class="orb-photo-frame orb-obj-1">
            <img src="orabel/img/photo/39.jpg" alt="photo" />
          </div>
          <div class="orb-position-fix">
            <div class="orb-deco"></div>
            <div class="orb-photo-frame orb-obj-2">
              <img src="orabel/img/photo/40.jpg" alt="photo" />
            </div>
          </div>
          <div class="orb-descr">
            <div class="orb-descr-title">
              <div>Menu</div>
              <div class="orb-line"></div>
            </div>
            <p>Stay tuned for news and new work on Instagram</p>
            <a href="https://www.instagram.com/" target="_blank" data-no-swup
              ><img src="orabel/img/ui/instagram-2.svg" alt="Instagram" /></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
