---
import Layout from "../../creative-mighty/layout.astro";
import Stylesheets from "../stylesheets.astro";
import Scripts from "../scripts.astro";
---

<Layout footerClass="mt-0">
  <Fragment slot="head">
    <Stylesheets />
  </Fragment>

  <Fragment slot="body">
    <div class="orb-wrapper">
      <!-- page loader end -->
      <div id="orb-dynamic-content" class="transition-fade">
        <div class="orb-page-frame orb-home-4">
          <div class="orb-content">
            <div class="orb-grid">
              <div class="orb-g-25 orb-sm-100">
                <div class="orb-position-fix">
                  <div class="orb-photo-frame orb-obj-1">
                    <img
                      src="https://res.cloudinary.com/daoju0r3c/image/upload/v1745520267/Facetune_14-10-2024-23-33-34-min_esd4dy.png"
                      alt="photo"
                    />
                  </div>
                </div>
              </div>
              <div class="orb-g-50 orb-sm-100">
                <div class="orb-main-title">
                  <div class="orb-suptitle"></div>
                  <h1>
                    Story’s on skin - <br /> no <i class="underline"
                      >subtitles</i
                    >, <br /> no <i class="underline">spoilers</i>
                  </h1>
                  <div class="orb-button-frame">
                    <div class="orb-btn-label"></div>
                    <a href="/journey" class="orb-sm-button">
                      <div class="orb-arrow">
                        <img src="/orabel/img/ui/arrow-2.svg" alt="arrow" />
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="orb-g-25 orb-sm-100">
                <div class="orb-object-frame">
                  <div class="orb-photo-frame orb-obj-2">
                    <img
                      src="https://res.cloudinary.com/daoju0r3c/image/upload/v1745519645/IMG_6264_unsvxg.jpg"
                      alt="photo"
                    />
                  </div>
                  <div class="orb-photo-frame orb-obj-3">
                    <img
                      src="https://res.cloudinary.com/daoju0r3c/image/upload/v1745669570/IMG_6217_hxqhc5.jpg"
                      alt="photo"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="trusted-clients-area-start rts-section-gap bg-white section-separator"
      style="margin-top: 4rem;"
    >
      <div class="right-shape-testi">
        <img
          src="/creative-mighty/assets/images/testimonials/03.png"
          alt="testimonials"
        />
      </div>
      <div class="container-full">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-wrapper-case-studies scrolltext-wrapper">
              <div class="scrollingText-three">
                <h2 class="title">
                  our <span>Trusted Client</span> Say . our <span
                    >Trusted Client</span
                  > Say . our <span>Trusted Client</span> Say .
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row g-5 mt--80">
          <div class="col-lg-8 pr--100 pr_md--50 pr_sm--20">
            <div class="swiper-testimonails-style-one-main-wrapper">
              <div class="swiper mySwiper-testimonial-1">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <!-- single tesinmonials area start -->
                    <div class="single-testimonials-main-wrapper">
                      <div class="star-area-start">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <div class="body">
                        <div class="quote-img">
                          <img
                            src="/creative-mighty/assets/images/testimonials/02.png"
                            alt=""
                          />
                        </div>
                        <p class="disc">
                          The group at Baroque is unimaginably committed, <br />
                          educated, and supportive. The completed item was <br
                          /> delightful, and worth each penny. I would totally <br
                          /> suggest Baroque...
                        </p>
                        <div class="author-area">
                          <div class="thumbnail">
                            <img
                              src="/creative-mighty/assets/images/testimonials/01.png"
                              alt="testimonials"
                            />
                          </div>
                          <div class="info-wrapper">
                            <h6 class="title">Adam Daniel Smith</h6>
                            <span>Product Designer</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- single tesinmonials area start -->
                  </div>
                </div>
                <div class="button-area-next-prev">
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="after-effect-testi-right-img">
              <div class="thumbnail-clients-img rts-reveal-two">
                <img
                  class="rts-reveal-image-two"
                  src="/creative-mighty/assets/images/about/04.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Fragment>

  <Fragment slot="scripts"><Scripts /></Fragment>
</Layout>
