---
import Layout from "../../creative-mighty/layout.astro";
import Stylesheets from "../stylesheets.astro";
import Scripts from "../scripts.astro";
---

<Layout>
  <Fragment slot="head">
    <Stylesheets />
  </Fragment>

  <Fragment slot="body">
    <div class="orb-wrapper">
      <!-- page loader end -->
      <div id="orb-dynamic-content" class="transition-fade">
        <div class="orb-page-frame orb-home-4">
          <div class="orb-content">
            <div class="orb-grid">
              <div class="orb-g-25 orb-sm-100">
                <div class="orb-position-fix">
                  <div class="orb-photo-frame orb-obj-1">
                    <img
                      src="https://res.cloudinary.com/daoju0r3c/image/upload/v1745520267/Facetune_14-10-2024-23-33-34-min_esd4dy.png"
                      alt="photo"
                    />
                  </div>
                </div>
              </div>
              <div class="orb-g-50 orb-sm-100">
                <div class="orb-main-title">
                  <div class="orb-suptitle"></div>
                  <h1>
                    Story’s on skin - <br /> no <i class="underline"
                      >subtitles</i
                    >, <br /> no <i class="underline">spoilers</i>
                  </h1>
                  <div class="orb-button-frame">
                    <div class="orb-btn-label"></div>
                    <a href="/journey" class="orb-sm-button">
                      <div class="orb-arrow">
                        <img src="/orabel/img/ui/arrow-2.svg" alt="arrow" />
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="orb-g-25 orb-sm-100">
                <div class="orb-object-frame">
                  <div class="orb-photo-frame orb-obj-2">
                    <img
                      src="https://res.cloudinary.com/daoju0r3c/image/upload/v1745519645/IMG_6264_unsvxg.jpg"
                      alt="photo"
                    />
                  </div>
                  <div class="orb-photo-frame orb-obj-3">
                    <img
                      src="https://res.cloudinary.com/daoju0r3c/image/upload/v1745669570/IMG_6217_hxqhc5.jpg"
                      alt="photo"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Fragment>

  <Fragment slot="scripts"><Scripts /></Fragment>
</Layout>
