---
import Layout from "../../creative-mighty/layout.astro";
---

<Layout>
  <Fragment slot="head">
    <link
      rel="preload"
      href="/arrigo/fonts/Linearicons-Free54e9.woff2?w118d"
      type="font/woff2"
      as="font"
      crossorigin=""
    />
    <link
      rel="preload"
      href="https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-brands-400.woff2"
      type="font/woff2"
      as="font"
      crossorigin=""
    />
    <link rel="preload" href="/arrigo/js/vendor.js" as="script" />
    <link rel="preload" href="/arrigo/js/components.js" as="script" />
    <link rel="preload" href="/arrigo/css/vendor.css" as="style" />
    <link rel="preload" href="/arrigo/css/main.css" as="style" />
    <link rel="preload" href="/arrigo/fontawesome/brands.css" as="style" />
    <link rel="preload" href="/arrigo/fontawesome/fontawesome.css" as="style" />
    <!-- - Preloads -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta content="telephone=no" name="format-detection" />
    <meta name="HandheldFriendly" content="true" />
    <meta
      name="description"
      content="Arrigo – Minimal Portfolio Contemporary HTML5 Template"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CPoppins:300,300i,400,400i,600,600i%7CPlayfair+Display:400i"
    />

    <link rel="stylesheet" href="/arrigo/css/vendor.css" />
    <link rel="stylesheet" href="/arrigo/css/main.css" />
    <!-- ICONS-->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="img/content/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="img/content/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="img/content/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="img/content/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="img/content/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="img/content/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="img/content/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="img/content/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/content/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="img/content/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/content/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="img/content/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/content/favicon-16x16.png"
    />
    <link rel="manifest" href="img/content/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="img/content/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" type="image/x-icon" href="img/content/favicon.ico" />
    <style>
      .input-float input {
        color: white;
        padding-block: 1rem;
        border-bottom: 1px solid rgba(136, 136, 136, 0.2);
      }

      .input-float textarea {
        color: white;
      }
    </style>
  </Fragment>

  <Fragment slot="body">
    <div class="page-wrapper">
      <section class="section section-masthead section_pt section_pb">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1>Contact</h1>
            </div>
          </div>
        </div>
        <div class="section-masthead__line"></div>
      </section>
      <!-- - section MASTHEAD -->
      <!-- - PAGE HEADER -->
      <main class="site-main">
        <!-- section CONTACT -->
        <section
          class="section section-contact section-contact_inner section_mt-small section_mb-small"
        >
          <div class="container">
            <div class="section-contact__wrapper-contacts">
              <div class="row justify-content-center">
                <div class="col-lg-3 section-contact__wrapper-contact">
                  <div class="figure-contact">
                    <div class="figure-contact__icon">near_me</div>
                    <div class="figure-contact__item">West Edmonton Mall</div>
                    <div class="figure-contact__item">
                      8882 170 St NW #1401, Edmonton, <br /> AB T5T 4V4
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 section-contact__wrapper-contact">
                  <div class="figure-contact">
                    <div class="figure-contact__icon">phone</div>
                    <div class="figure-contact__item">(780) 484-4856</div>
                  </div>
                </div>
                <div class="col-lg-3 section-contact__wrapper-contact">
                  <div class="figure-contact">
                    <div class="figure-contact__icon">mail</div>
                    <div class="figure-contact__item">
                      <a href="mailto:fxtattoos@live.com">fxtattoos@live.com</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid"></div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="section-contact__wrapper-form-inner">
                  <form
                    class="form js-ajax-form"
                    action="https://artemsemkin.com/arrigo/html/mail.php"
                    method="POST"
                    data-message-success="Thanks for your message! We will reply you as soon as possible."
                    data-message-error="Something went wrong :( Please contact me directly on arrigo@sabbani.com"
                  >
                    <h3>Send Message</h3>
                    <div class="row form__row">
                      <div class="col-lg-6 form__col">
                        <label class="input-float js-input-float">
                          <input
                            class="input-float__input"
                            type="text"
                            name="visitor_name"
                            required="required"
                            data-msg="Please enter your name"
                          /><span class="input-float__label">Your Name</span
                          ><span class="form__error"></span>
                        </label>
                      </div>
                      <div class="col-lg-6 form__col">
                        <label class="input-float js-input-float">
                          <input
                            class="input-float__input"
                            type="email"
                            name="visitor_email"
                            required="required"
                            data-msg="Please enter a correct e-mail"
                          /><span class="input-float__label">Your E-mail</span
                          ><span class="form__error"></span>
                        </label>
                      </div>
                    </div>
                    <div class="row form__row">
                      <div class="col form__col">
                        <label class="input-float js-input-float">
                          <textarea
                            class="input-float__input input-float__input_textarea"
                            name="visitor_msg"></textarea><span
                            class="input-float__label">Your Message</span
                          ><span class="form__error"></span>
                        </label>
                      </div>
                    </div>
                    <div class="row form__row">
                      <div class="col form__col form__col_submit">
                        <button class="button button_accent" type="submit"
                          ><span>Send Message</span></button
                        >
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- - section CONTACT -->
      </main>
    </div>
  </Fragment>

  <Fragment slot="scripts">
    <!-- VENDOR SCRIPTS -->
    <script defer src="/arrigo/js/vendor.js"></script>
    <!-- - VENDOR SCRIPTS -->
    <!-- COMPONENTS -->
    <script defer src="/arrigo/js/components.js"></script>
  </Fragment>
</Layout>
