---
import Header from "../../creative-mighty/header.astro";
import Cursor from "../../creative-mighty/cursor.astro";
import Slider from "../components/slider";
---

<!doctype html>
<html lang="en">
  <!-- Mirrored from artemsemkin.com//arrigo/html/homepage-slider-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 13 Apr 2025 18:11:29 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Arrigo – A Contemporary HTML5 Template for Creatives</title>
    <!-- Preloads -->
    <link
      rel="preload"
      href="/arrigo/fonts/Linearicons-Free54e9.woff2?w118d"
      type="font/woff2"
      as="font"
      crossorigin=""
    />
    <link
      rel="preload"
      href="https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-brands-400.woff2"
      type="font/woff2"
      as="font"
      crossorigin=""
    />
    <link rel="preload" href="/arrigo/js/vendor.js" as="script" />
    <link rel="preload" href="/arrigo/js/components.js" as="script" />
    <link rel="preload" href="/arrigo/css/vendor.css" as="style" />
    <link rel="preload" href="/arrigo/css/main.css" as="style" />
    <link rel="preload" href="/arrigo/fontawesome/brands.css" as="style" />
    <link rel="preload" href="/arrigo/fontawesome/fontawesome.css" as="style" />

    <link rel="stylesheet" href="/creative-mighty/assets/css/style.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CPoppins:300,300i,400,400i,600,600i%7CPlayfair+Display:400i"
    />
    <link rel="stylesheet" href="/arrigo/fontawesome/brands.css" />
    <link rel="stylesheet" href="/arrigo/fontawesome/fontawesome.css" />
    <link rel="stylesheet" href="/arrigo/css/vendor.css" />
    <link rel="stylesheet" href="/arrigo/css/main.css" />

    <!-- ICONS-->
  </head>
  <body>
    <Header
      classes="header--sticky sticky-150 sticky"
      containerStyles="z-index: 100; color: black !important;"
    />
    <div class="page-wrapper">
      <main class="site-main">
        <!-- section FULLSCREEN -->
        <Slider />
        <!-- - section FULLSCREEN -->
      </main>
      <!-- PAGE FOOTER -->
      <Cursor />
      <footer
        class="footer footer_fixed site-footer"
        style="width: fit-content;"
      >
        <div class="container-fluid">
          <div class="footer__inner">
            <div
              class="row align-items-center justify-content-center justify-content-lg-start"
            >
              <div class="col-lg-auto col">
                <div class="slider__arrows">
                  <div class="slider__arrow js-slider-fullscreen-arrow-right">
                    keyboard_arrow_down
                  </div>
                  <div class="slider__arrow js-slider-fullscreen-arrow-left">
                    keyboard_arrow_up
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- - PAGE FOOTER -->
    </div>

    <script defer src="/arrigo/js/vendor.js"></script>
    <script defer src="/arrigo/js/components.js"></script>

    <!-- for side bar sticky -->

    <!-- for side bar sticky end-->

    <script
      defer
      src="/creative-mighty/assets/js/plugins/smoothscroll-varticle.js"
    ></script>
    <script defer src="/creative-mighty/assets/js/plugins/scrolltoplugin.js"
    ></script>

    <script defer src="/creative-mighty/assets/js/plugins/counterup.js"
    ></script>

    <script defer src="/creative-mighty/assets/js/vendor/waw.js"></script>
    <!-- custom javascripts -->
    <script defer src="/creative-mighty/assets/js/main-without-swiper.js"
    ></script>
  </body>
</html>
