---
import StoreMap from "../lib/common/storemap";
import Layout from "../lib/creative-mighty/layout.astro";
---

<Layout title="Contact Us | Deee's Art Studios">
  <Fragment slot="head">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Material+Icons"
    />
  </Fragment>
  <Fragment slot="body" bodyClass="inner-page contact-page">
    <div class="rts-breadcrumb-area bg_image">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="baread-crumb-main-wrapper pt--100">
              <div class="inner">
                <h1 class="title rts_hero__title">Contact Now</h1>
                <span class="bg-text">Contact Now</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="section-contact__wrapper-contacts">
        <div class="row justify-content-center">
          <div class="col-lg-3 section-contact__wrapper-contact">
            <div class="figure-contact">
              <div class="figure-contact__icon">near_me</div>
              <div class="figure-contact__item">
                Fx Inc, 8882 170 St NW #1401,
              </div>
              <div class="figure-contact__item">Edmonton, AB T5T 4V4</div>
            </div>
          </div>
          <div class="col-lg-3 section-contact__wrapper-contact">
            <div class="figure-contact">
              <div class="figure-contact__icon">phone</div>
              <div class="figure-contact__item">(780) 484-4856</div>
            </div>
          </div>
          <div class="col-lg-3 section-contact__wrapper-contact">
            <div class="figure-contact">
              <div class="figure-contact__icon">mail</div>
              <div class="figure-contact__item">
                <a
                  href="mailto:ink@deeesartstudios.com"
                  style="color: #666 !important;">ink@deeesartstudios.com</a
                >
              </div>
              <div class="figure-contact__item">
                <a
                  href="mailto:fxtattoos@live.com"
                  style="color: #666 !important;">fxtattoos@live.com</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <StoreMap client:only />
    <!-- rts bread crumba rea end -->
    <!-- Scripts style two End -->

    <!-- appoinment area two start -->
    <div class="appoinmnet-area-two rts-section-gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- appoinment area two start -->
            <div class="appoinment-area-two plr--120 plr_md--40 plr_sm--30">
              <div class="title-area-appoinment">
                <span class="pre">Appointment</span>
                <h2 class="title mb--0">
                  Love to hear from you <br />
                  <span>Get in touch!</span>
                </h2>
              </div>
              <form class="appoinment-h2 rts-slide-up-gsap" action="#">
                <div class="input-line">
                  <div class="input-half">
                    <label for="name">Your Name*</label>
                    <input
                      id="name"
                      type="text"
                      placeholder="Andrew Davis Kino...."
                      required
                    />
                  </div>
                  <div class="input-half">
                    <label for="email">Your Email*</label>
                    <input
                      id="email"
                      type="text"
                      placeholder="jhon@doe.com"
                      required
                    />
                  </div>
                </div>
                <div class="input-line mt--40">
                  <div class="input-full">
                    <label for="name">What you are interested*</label>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected value="Tattoo">Tattoos</option>
                      <option value="Piercings">Piercings</option>
                      <option value="Paintings">Paintings</option>
                    </select>
                  </div>
                </div>
                <div class="text-area mt--40">
                  <label for="message">Message*</label>
                  <textarea
                    id="message"
                    cols="30"
                    rows="10"
                    placeholder="Please tell us a bit about your self."
                  ></textarea>
                </div>
                <button class="submit-pd">Post Comment</button>
              </form>
            </div>
            <!-- appoinment area two end -->
          </div>
        </div>
      </div>
    </div>
  </Fragment>
</Layout>
