---
import clsx from "clsx";
import { navLinks } from "./header.astro";

const { classNames, styles } = Astro.props as {
  classNames: string;
  styles: string;
};
---

<style>
  .logo {
    height: 48px;
    width: auto;
  }

  .logo img {
    height: 100%;
  }
</style>

<div
  class={clsx("footer rts-footer-two-area bg-footer-2 bg_image-1", classNames)}
  style={styles}
>
  <div class="container-140">
    <div class="row">
      <div class="col-lg-12 pt--130 pt_sm--60 pb--100 pb_sm--60">
        <div class="footer-two-wrapper-content">
          <!-- footer left start -->
          <div class="footer-left-two">
            <a href="index.html" class="logo">
              <img src="/assets/dees-art-studio.png" alt="logo" />
            </a>
            <p class="disc">
              <b>Shop Hours:</b><br /> Monday–Saturday: 10 a.m.–8 p.m.,<br />
              Sunday: 11 a.m.–5 p.m. <br />
            </p>
            <p class="disc">
              <b>Dee's Hours</b>:<br /> Wednesday–Saturday: 12 p.m.–8 p.m.,<br
              /> Sunday: 12 p.m.–5 p.m.
            </p>
            <div class="rts-social-area-one">
              <ul>
                <li>
                  <a href="https://www.facebook.com/share/1APmAFFcLx/"
                    ><i class="fa-brands fa-facebook-f"></i></a
                  >
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://www.instagram.com/deeeartstudios/?igsh=dnhodzE4ZjcxbDB3#"
                    ><i class="fa-brands fa-instagram"></i></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- footer left end -->

          <div class="footer-left-two">
            <a href="index.html" class="logo">
              <img
                src="/assets/fx-logo.png"
                alt="logo"
                style="display: block; min-width: unset !important; width: auto;"
              />
            </a>
            <p class="disc">
              <b>Shop Hours:</b><br /> Monday–Saturday: 10 a.m.–8 p.m.,<br />
              Sunday: 11 a.m.–5 p.m. <br />
            </p>

            <div class="rts-social-area-one">
              <ul>
                <li>
                  <a href="https://www.facebook.com/share/1APmAFFcLx/"
                    ><i class="fa-brands fa-facebook-f"></i></a
                  >
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://www.instagram.com/deeeartstudios/?igsh=dnhodzE4ZjcxbDB3#"
                    ><i class="fa-brands fa-instagram"></i></a
                  >
                </li>
              </ul>
            </div>
          </div>

          <!-- footer right area start -->
          <div class="footer-right-two">
            <div class="contact-information">
              <p class="title">Useful Links</p>
              <ul
                class="footer-nav"
                style="list-style: none; padding-left: 0 !important;"
              >
                {
                  navLinks.map((element) => (
                    <li>
                      <a href={element.href} style="color: #74787c !important;">
                        {element.title}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </div>
            <!-- contact info -->
            <div class="contact-information">
              <p class="title">Contact Info</p>
              <a href="/contact-us" class="map">
                West Edmonton Mall Address: <br /> 8882 170 St NW #1401, Edmonton,
                <br />
                AB T5T 4V4</a
              >

              <p
                class="title"
                style="font-size: 1.25rem; margin-bottom: 0.25rem;"
              >
                Connect with me directly:
              </p>
              <a href="#" class="mail number">ink@deeeartstudios.com</a>

              <p
                class="title"
                style="font-size: 1.25rem; margin-bottom: 0.25rem;"
              >
                For General Work Enquiry
              </p>
              <a href="#" class="mail number">fxtattoos@live.com</a>
              <a href="tel:(780) 484-4856" class="number">(780) 484-4856</a>
            </div>
            <!-- contact info end -->
          </div>
          <!-- footer right area end -->
        </div>
      </div>
      <div class="col-lg-12">
        <!-- copyright-area-start -->
        <div class="copy-right-area-start-two">
          <p class="left">
            {new Date().getFullYear()} © <a
              onclick="window.open('https://www.instagram.com/beyondbranding_/', '_blank')"
              >Beyond Branding</a
            >. All rights reserved.
          </p>
        </div>
        <!-- copyright-area-end -->
      </div>
    </div>
  </div>
</div>
