<div class="footer rts-footer-two-area bg-footer-2 bg_image-1">
  <div class="container-140">
    <div class="row">
      <div class="col-lg-12 pt--130 pt_sm--60 pb--100 pb_sm--60">
        <div class="footer-two-wrapper-content">
          <!-- footer left start -->
          <div class="footer-left-two">
            <a href="index.html" class="logo">
              <img
                src="/creative-mighty/assets/images/logo/03.svg"
                alt="logo"
              />
            </a>
            <p class="disc">
              Province: Alberta <br />
              Monday to Saturday: 10 a.m. – 8 p.m. <br />
              Sunday: 11 a.m. – 5 p.m.
            </p>
            <div class="rts-social-area-one">
              <ul>
                <li>
                  <a href="mailto:fxtattoos@live.com"
                    ><i class="fa-regular fa-envelope"></i></a
                  >
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                  <a href="tel:+17804844856"
                    ><i class="fa-regular fa-phone"></i></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- footer left end -->

          <!-- footer right area start -->
          <div class="footer-right-two">
            <!-- contact info -->
            <div class="contact-information">
              <h5
                class="title font-hanken-grostek"
                style="font-family: 'Hanken Grotesk' !important;"
              >
                Contact Info
              </h5>
              <p class="map">
                Located in: West Edmonton Mall <br />Address: 8882 170 St NW
                #1401, Edmonton, <br /> AB T5T 4V4
              </p>
              <a href="mailto:fxtattoos@live.com" class="mail"
                >fxtattoos@live.com</a
              >
              <a href="tel:+17804844856" class="number">(780) 484-4856</a>
            </div>
          </div>
          <!-- footer right area end -->
        </div>
      </div>
      <div class="col-lg-12">
        <!-- copyright-area-start -->
        <div class="copy-right-area-start-two">
          <p class="left">
            {new Date().getFullYear()} © Dee's Art Studio. All rights reserved.
          </p>
        </div>
        <!-- copyright-area-end -->
      </div>
    </div>
  </div>
</div>
